<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/board.js"></script>
    <title>Sticks & Stones</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/board.css">
</head>
<body>
    {% include "header" %}
    <p>Hello</p>
    <button onclick="send_msg('hello world');">f</button>
</body>
</html>
